

.buttons {
	padding: 15px 0;
}


// general button styles
.btn {
	font-family: "TT Severs";
	font-weight: bold;
	opacity: 1;
	border: 0;
	padding: 10px 25px 8px;
	font-size: 15px;
	line-height: 20px;
	transition: opacity 400ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: $grey;
	color: white;
	-webkit-appearance: none;
	border-radius: 0;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		opacity: .8;
	}

	&.green {
		background-color: $green;
	}

	&.blue {
		background-color: $blue;
	}

	&.purple {
		background-color: $purple;
	}

	&.orange {
		background-color: $orange;
	}

	&.sky {
		background-color: $sky;
	}

	&.large {
		padding: 15px 30px 12px;

		&.rounded {
			border-radius: 25px;
		}
	}

	&.rounded {
		border-radius: 20px;
	}
}

