
@font-face {
    font-family: 'TT Severs';
    src: url('fonts/tt-severs-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Severs';
    src: url('fonts/tt-severs-bold-italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Severs';
    src: url('fonts/tt-severs-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Severs';
    src: url('fonts/tt-severs-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');

@mixin font-thin {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

@mixin font-thin-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
}

@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

@mixin font-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin font-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

@mixin font-bold-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin font-ttsevers {
	font-family: "TT Severs";
}

