$menu-bp: 1024px;
$head-height: 172px;
header {
    position: relative;
    border-top: 20px solid $blue;
    @include respond-to( $menu-bp) {
        display: flex;
        align-items: center;
        border-top: 40px solid $blue;
        .logo {
            flex: 1 1 15%;
            img {
                min-width: 240px;
            }
        }
        nav {
            flex: 1 1 70%;
            padding-right: 20px;
        }
        .contact {
            flex: 1 1 15%;
            padding-right: 20px;
            a {
                white-space: nowrap;
            }
        }
    }
    @include respond-to( $bp-xxxl) {
        padding: 10px $margin;
    }
    .logo {
        padding: 20px;
        img {
            max-height: 90px;
        }
    }
    .menu-toggle {
        position: absolute;
        right: 20px;
        top: ( $head-height / 4);
        width: 50px;
        height: 50px;
        border: 0;
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
        opacity: .6;
        color: $blue;
        transition: opacity 400ms ease-in-out;
        &:hover {
            opacity: 1;
        }
        @include respond-to( $menu-bp) {
            display: none;
        }
        img.mobile-only {
            display: block;
            @include respond-to( $menu-bp) {
                display: none;
            }
        }
    }
    nav {
        position: relative;
        .menu-toggle {
            position: absolute;
            right: 10px;
            top: -60px;
            width: 40px;
            height: 40px;
            border: 0;
            padding: 0;
            background: white;
            color: transparent;
            background: url(../img/icon-menu.png) center center no-repeat;
            overflow: hidden;
            text-indent: 1000px;
            @include respond-to( 400px) {
                right: 20px;
            }
            @include respond-to( $menu-bp) {
                display: none;
            }
        }
        .nav-menu {
            display: none;
            position: relative;
            z-index: 1000;
            @include respond-to( $menu-bp) {
                display: block;
            }
            @include respond-to( $bp-xxl) {
                text-align: center;
            }
            &.open {
                display: block;
            }
            li {
                @include respond-to( $menu-bp) {
                    box-shadow: none;
                    position: relative;
                    display: inline-block;
                }
                a {
                    @include font-ttsevers;
                    font-weight: bold;
                    display: block;
                    padding: 10px 5px;
                    font-size: 15px;
                    line-height: 22px;
                    color: $blue;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                    transition: 400ms background-color ease-in-out;
                    background-color: rgba( $grey-light, .3);
                    text-align: center;
                    @include respond-to( $menu-bp) {
                        display: inline-block;
                        text-align: left;
                        padding: 10px;
                        background-color: transparent;
                    }
                    @include respond-to( $bp-xxxl) {
                        font-size: 17px;
                        padding: 15px 15px;
                    }
                }
                &:hover,
                &.open {
                    a {
                        background-color: lighten( $grey-light, 30%);
                    }
                    ul.sub-menu {
                        @include respond-to( $menu-bp) {
                            display: block;
                        }
                    }
                }
                ul.sub-menu {
                    display: none;
                    margin-bottom: 3px;
                    box-shadow: 0 18px 15px rgba( black, .2);
                    @include respond-to( $menu-bp) {
                        background-color: lighten( $grey-light, 30%);
                        position: absolute;
                        left: 0;
                        top: 42px;
                        min-width: 100%;
                        width: 220px;
                        z-index: 2;
                    }
                    @include respond-to( $bp-xxxl) {
                        top: 50px;
                    }
                    li {
                        display: block;
                        width: 100%;
                        a {
                            @include font;
                            font-weight: normal;
                            text-transform: inherit;
                            font-size: 14px;
                            line-height: 14px;
                            display: block;
                            padding: 10px 5px 7px;
                            background-color: rgba( $grey-light, .15);
                            color: black;
                            @include respond-to( $menu-bp) {
                                background-color: transparent;
                                padding: 10px;
                                &:hover {
                                    background-color: lighten( $grey, 10%);
                                }
                            }
                            @include respond-to( $bp-xxxl) {
                                padding: 10px 15px;
                            }
                            &:hover {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .contact {
        a {
            display: block;
            border-radius: 0 !important;
            @include respond-to( $menu-bp) {
                border-radius: 25px !important;
            }
        }
    }
}