
$menu-bp: 1220px;
$head-height: 172px;

header {
	position: relative;
	border-top: 20px solid $blue;
	
	@include respond-to( $menu-bp ) {
		display: flex;
		align-items: center;
		border-top: 40px solid $blue;

		.logo {
			flex: 0 0 20%;
		} 
		
		nav {
			flex: 1 1 70%;
		}
		
		.contact {
			flex: 1 1 10%;
			padding-right: 20px;

			a {
				white-space: nowrap;
			}
		}
	}

	@include respond-to( $bp-xxxl ) {
		padding: 10px $margin;
	}

	.logo {
		padding: 20px;

		img {
			max-height: 90px;
		}
	}

	.menu-toggle {
		position: absolute;
		right: 20px;
		top: ( $head-height / 4 );
		width: 50px;
		height: 50px;
		border: 0;
		padding: 10px;
		font-size: 30px;
		cursor: pointer;
		opacity: .6;
		color: $blue;
		transition: opacity 400ms ease-in-out;

		&:hover {
			opacity: 1;
		}

		@include respond-to( $menu-bp ) {
			display: none;
		}

		img.mobile-only {
			display: block;
		
			@include respond-to( $menu-bp ) {
				display: none;
			}
		}
	}

	nav {
		display: none;

		@include respond-to( $menu-bp ) {
			display: block;
		}

		& > ul {
			z-index: 1000;
			
			@include respond-to( $menu-bp ) {
				display: block;
				@include clearfix;
				padding-left: 30px;
			}

			& > li {
				@include respond-to( $menu-bp ) {
					box-shadow: none;
					display: inline-block;
				}

				& > a {
					font-family: "TT Severs", sans-serif;
					font-weight: bold;
					text-transform: uppercase;
					display: block;
					padding: 10px 5px;
					color: black;
					text-decoration: none;
					width: 100%;
					height: 100%;
					transition: 400ms all ease-in-out;
					text-align: center;
					font-size: 1.1em;
					white-space: nowrap;
					background: rgba( $grey-light, .3 );
					position: relative;

					&:hover {
						opacity: .7;
						border: none;
						text-decoration: none;
					}

					@include respond-to( $menu-bp ) {
						background: none;
						display: inline-block;
						text-align: left;
						padding: 50px 20px;
						line-height: 20px;
						text-align: center;
					}

					@include respond-to( $bp-xl ) {
						padding: 40px 20px;
					}

					@include respond-to( $bp-xxl ) {
						padding: 40px 30px;
					}
				}

				&.no-submenu a:after {
					display: none;
				}

				.submenu {
					display: none;
					background: white;
					border-bottom: 5px solid $purple;
					// box-shadow: 0 10px 10px rgba( black, .05 );
					@include padding;

					@include respond-to( $menu-bp ) {
						background: white;
						position: absolute;
						top: 110px;
						left: 0;
						right: 0;
						z-index: 1001;
						flex-wrap: wrap;

						.submenu-col {
							flex: 1 1 25%;
							padding: 0 30px 20px 0;
						}
					}

					h5 {
						padding: 10px 0;
						color: black;
						font-weight: bold;
						border-bottom: 1px solid $grey-dark;
						text-align: center;
					}

					p {
						padding: 5px 0 12px 0;
						color: $grey-dark;
					}

					ul {
						padding: 0 0 5px 0;

						li {
							a {
								display: block;
								padding: 6px 10px;
								line-height: 1.4em;
								border-bottom: 1px solid rgba( $grey-light, .3 );
								font-size: .9em;
								transition: all 400ms ease-in-out;
								color: $grey-dark;

								i {
									transition: all 400ms ease-in-out;
									color: $purple;
								}

								@include respond-to( $menu-bp ) {

									&:hover {
										border-bottom: 1px solid $grey-light;
										background: rgba( $orange, .4 );
										text-decoration: none;

										i {
											color: $orange;
										}
									}
								}
							}
						}
					}
				}

				// open class on mobile

				// hover on larger screens
				&.open .submenu {
					display: block;

					@include respond-to( $bp-s ) {
						display: flex;
						flex-wrap: wrap;

						.submenu-col {
							flex: 0 0 50%;
							padding: 0 30px 20px 0;
						}

					}

					@include respond-to( $bp-m ) {
						.submenu-col {
							flex: 0 0 33.3333%;
							padding: 0 30px 20px 0;
						}
					}
				}


				// hover on larger screens
				&:hover {
					@include respond-to( $menu-bp ) {
						.submenu {
							display: flex;
							position: absolute;
							top: 110px;
						}
					}
				}
			}
		}
	}

	.submenu-col { 
		.logo {
			transition: all 500ms ease-in-out;
			filter: grayscale(1);
			opacity: .4;
			display: inline-block;
			max-width: 44%;
			padding: 0;
			margin: 3%;

			&:hover {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}

	.contact {
		a {
			display: block;
			border-radius: 0 !important;

			@include respond-to( $menu-bp ) {
				border-radius: 25px !important;
			}
		}
	}
}

