

.people-container {
    @include padding;
    background: white;
    color: black;

    &.padding-tall {
        @include padding-tall;
    }

	.content-two & {
		background: none !important;
		padding: 15px 0 !important;
	}

	&.boxes {
		.person-entry {
			border: 4px solid $grey-light;
			border-radius: 10px;
			padding: 20px 0;

			@include respond-to( $bp-s ) {
				flex: 0 0 46%;
			}

			@include respond-to( $bp-m ) {
				flex: 0 0 29.3333%;
			}

			.person-bio {
				background: $purple;
				padding: 20px 30px;
				color: white;
				text-align: center;
				margin-top: 20px;
			}
		}
	}
}


.person-entry {
	// box-shadow: 0 0 20px rgba( black, .2 );
	display: flex;
	background: white;

	.person-photo {
		flex: 1 1 35%;
		text-align: center;

		img {
			max-width: 275px;
		}
	}

	.person-info {
		flex: 1 1 65%;
		padding-left: 15px;

		@include respond-to( 500px ) {
			padding: 15px 0 0 0;
			margin-top: 10px;
		}

		.person-basics {
			padding: 0 20px;
		}

		h4 {
			padding-bottom: 6px;
            font-size: 1.5em;
			line-height: 1.4em;
			font-weight: bold;
			color: $purple;
			text-align: center;
		}

		.person-title, .person-company {
			padding: 1px 0;
            font-size: 1.1em;
			text-align: center;
			color: $purple;
			line-height: 1.4em;
		}

		.person-email {
			padding: 5px 0 0;

			a {
				display: block;
				font-size: 0.8em;
				padding: 12px 0 ;
				color: $blue;
				border-bottom: 1px solid $blue;

				&:after {
					font-size: 19px;
					padding-left: 10px;
					content: "\279C";
				}
			}
		}

		.person-bio {
			font-size: .85em;
			color: rgba( $grey-dark, .8 );
		}

		.person-logo {
			padding: 25px;
			text-align: center;

			img {
				max-width: 200px;
			}
		}
	}
}


.people-listing {
	@include respond-to( $bp-s ) {
		display: flex;
		flex-wrap: wrap;
		margin-right: -4%;
	}

	.person-entry {
		display: none;
		@extend .person-entry;
		position: relative;

		&.visible {
			display: block;
		}

		.person-link {
			position: absolute;
			padding: 0;
			bottom: 20px;
			left: 20px;
			right: 20px;

			a {
				display: block;
				font-size: 0.8em;
				padding: 12px 0 ;
				color: $blue;
				border-bottom: 1px solid $blue;

				&:after {
					font-size: 19px;
					padding-left: 10px;
					content: "\279C";
				}
			}
		}

		@include respond-to( $bp-s ) {
			flex: 1;
			flex-basis: 46%;
			margin: 0 4% 4% 0;

			&.visible {
				display: block;
			}

			.person-link {
				position: absolute;
				bottom: 25px;
				left: 25px;
				right: 25px;
			}
		}

		@include respond-to( $bp-m ) {
			flex-basis: 29.3333%;
			margin-right: 4%;
		}
	}

	.content-two .column & {
		.person-entry {
			@include respond-to( $bp-s ) {
				flex-basis: 48%;
				margin: 0 2% 2% 0;
			}

			@include respond-to( $bp-m ) {
				flex-basis: 48%;
				margin: 0 2% 2% 0;
			}

			@include respond-to( $bp-xl ) {
				flex-basis: 48%;
				margin: 0 2% 2% 0;
			}

			@include respond-to( $bp-xxl ) {
				flex-basis: 48%;
				margin: 0 2% 2% 0;
			}
		}
	}

	.content-two.right .column.two &, .content-two.left .column.one & {
		.person-entry {
			@include respond-to( $bp-m ) {
				flex-basis: 32%;
				margin-right: 1.3333%;
			}

			@include respond-to( $bp-xl ) {
				flex-basis: 32%;
				margin-right: 1.3333%;
			}

			@include respond-to( $bp-xxl ) {
				flex-basis: 32%;
				margin-right: 1.3333%;
			}
		}
	}
}


.bio {
	.sidebar {
		box-shadow: 0 0 20px rgba( black, .2 );

		img {
			width: 100%;
			display: block;
		}

		.person-info {
			padding: 20px;

			h2, h4 {
				color: white;
			}

			h5 {
				padding-bottom: 3px;
			}

			a {
				color: $grey-light;
			}

			p {
				padding: 3px 0;
				color: white;
			}

			.btn {
				margin-top: 20px;
				padding: 10px 20px;
			}
		}
	}

	.bio-content {
		@extend .content-style;
	}
}


.single-people {
	.contact-items {
		border: 1px solid rgba( black, .4 );
		border-radius: 6px;
		padding: 15px 25px;
		margin: 20px 0 10px;

		@include respond-to( $bp-m ) {
			display: flex;
			flex-wrap: wrap;
		}

		.contact-item {
			flex: 1 1 50%;
			padding: 10px 0;
		}
	}
}

