

.testimonials {
    @include padding;
    background: url(../img/bg-quote.png) center center no-repeat;
    background-size: cover;
    color: white;

    .quote {
        display: none;

        &.visible {
            display: block;
        }

        @include respond-to( $bp-s ) {
            flex-direction: row-reverse;
            align-items: center;

            &.visible {
                display: flex;
            }
        }

        .quote-image {
            @include respond-to( $bp-s ) {
                flex: 1 1 40%;
            }

            @include respond-to( $bp-m ) {
                flex: 1 1 30%;
            }

            @include respond-to( $bp-l ) {
                flex: 1 1 20%;
            }

            img {
                display: block;
                max-width: 300px;
                margin: 0 auto;
            }
        }

        .quote-content {
            font-size: 1.2em;

            @include respond-to( $bp-s ) {
                flex: 1 1 55%;
                margin-right: 5%;
            }

            @include respond-to( $bp-m ) {
                flex: 1 1 65%;
            }

            @include respond-to( $bp-l ) {
                flex: 1 1 65%;
            }

            .attribution {
                p {
                    padding: 5px 0;
                    color: white;
                    font-weight: bold;
                }
            }
        }

        .quote-mark {
            display: none;

            @include respond-to( $bp-l ) {
                display: block;
                flex: 1 1 10%;
                margin-right: 4%;
                height: 200px;
                background: url(../img/quote-mark.svg) center center no-repeat;
                background-size: contain;
            }
        }
    }
}

