

.title-container {
    background: white url(../img/iris-purple.mp4) center center no-repeat;
    @include padding-tall;
    text-align: center;
    position: relative;
    overflow: hidden;

	padding: 20px;
	@include respond-to( $bp-m ) { padding: 50px 30px; }
	@include respond-to( $bp-l ) { padding: 90px $margin; }
	@include respond-to( $bp-xl ) { padding: 100px $margin; }
	@include respond-to( $bp-xxl ) { padding: 110px $margin; }
	@include respond-to( $bp-xxxl ) { padding: 120px $margin; }

    .title-video {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        pointer-events: none;
    }

    h1 { 
        position: relative;
        z-index: 0;
        color: $purple;
        text-shadow: 0 0 10px white;
        font-weight: bold;

        span {
            display: block;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            opacity: .5;
        }
    }
    h2, h3 { color: rgba( white, .7 ); }

    &.grey {
        background: $grey-light;
        h1 { color: $blue; }
    }

    &.columns {
        @include respond-to( $bp-xl ) {
            .title {
                display: flex;
                align-items: center;

                h1, .section-nav {
                    flex: 1;
                }

                h1 {
                    flex-basis: 35%;
                    padding-right: 3%;
                }

                .section-nav {
                    margin-top: 0;
                    flex-basis: 65%;

                    ul li {
                        flex:  0 0 47%;
                        margin-right: 3%;
                    }               
                }
            }
        }
    }

    &.count-1 {
        @include respond-to( $bp-m ) {
            .title .section-nav ul {
                display: block;
            }
        }

        @include respond-to( $bp-xl ) {
            .title {
                h1, .section-nav {
                    flex: 1;
                }

                h1 {
                    flex-basis: 65%;
                    padding-right: 3%;
                }

                .section-nav {
                    margin-top: 0;
                    flex-basis: 35%;

                    ul {
                        display: block;
                        
                        li {
                            margin-right: 0;
                        }
                    }               
                }
            }
        }
    }

    .title {
        @include padding;

        .section-nav {
            border-top: 1px solid rgba( white, .3 );
            margin-top: 10px;

            @include respond-to( $bp-m ) {
                border-top: none;
                margin-top: 15px;
            }

            ul {
                @include respond-to( $bp-m ) {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -3%;
                }

                li {
                    @include respond-to( $bp-m ) {
                        flex:  0 0 47%;
                        margin-right: 3%;
                    }

                    @include respond-to( $bp-l ) {
                        flex:  0 0 30%;
                        margin-right: 3.3333%;
                    }

                    a {
                        display: block;
                        color: white;
                        padding: 10px 0;
                        border-bottom: 1px solid rgba( white, .5 );
                        font-size: .85em;
                        position: relative;
                        transition: all 200ms ease-in-out;

                        @include respond-to( $bp-m ) {
                            padding: 15px 0;
                        }

                        @include respond-to( $bp-l ) {
                            padding: 20px 0;
                        }

                        &:after {
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            margin-top: -10px;
                            height: 20px;
                            width: 20px;
                            content: "\279C";
                            line-height: 20px;
                            font-size: 19px;
                            transition: all 200ms ease-in-out;
                        }

                        &:hover {
                            border-bottom: 1px solid rgba( black, .5 );
                        
                            &:after {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
